@charset "utf-8";
@import url('../css/reset.css');
@import 'design';

body {
  width: 100%;
  font: 14px/1.4 Malgun Gothic, '맑은고딕', AppleGothic, gulim, '굴림', dotum,
    '돋움', sans-serif;
}
#header {
  width: $width-1;
  margin: 0 auto;

  .header_top {
    overflow: hidden;
    .header_top_logo {
      float: left;
      a {
        display: block;
        width: 93px;
        height: 50px;
        color: #fff;
        font-size: 15px;
        background-color: $mainColor-1;
        text-align: center;
        line-height: 50px;
      }
    }
    ul {
      float: right;
      overflow: hidden;
      margin-top: 20px;
      li {
        position: relative;
        float: left;
        margin-left: 20px;
        &:first-child {
          margin-left: 0;
        }
        &::before {
          position: absolute;
          top: 5px;
          left: -11px;
          content: '';
          display: block;
          width: 1px;
          height: 9px;
          background-color: $footerColor-1;
        }
        a {
          color: $mainColor-1;
          font-size: 13px;
        }
      }
    }
  }
  .header-bot {
    position: relative;
    padding: 20px 0 20px;
    margin-bottom: 10px;
    height: 80px;
    .logo {
      display: block;
      text-indent: -9999px;
      width: 202px;
      height: 54px;
      background: url('../images/common/logo.png') no-repeat 0 0;
    }
    .all-menu {
      position: absolute;
      top: 30px;
      right: 10px;
      a {
        display: block;
        width: 36px;
        height: 36px;
        background: url(../images/common/ico-all-menu-1.png) no-repeat 0 0;
      }
    }
    .search-bar {
      position: absolute;
      top: 28px;
      right: 60px;
      a {
        display: block;
        width: 36px;
        height: 36px;
        background: url(../images/common/ico-sch-1.png) no-repeat 0 0;
      }
    }
  }
}
#gnb {
  position: absolute;
  top: 38px;
  left: 196px;
  > ul {
    overflow: hidden;
    *[class*='gnb-'] {
      float: left;
      margin-left: 40px;
      > a {
        font-size: 18px;
        font-weight: bold;
        color: $fontColor-1;
      }
      > ul {
        overflow: hidden;
        display: none;
        &.on {
          display: block;
        }
        li {
          padding-left: 120px;
          font-size: 16px;
          color: $mainColor-1;
          float: left;
          &:first-child {
            padding-left: 0;
          }
        }
      }
    }
  }
}
#bg-container {
  max-width: 100%;
  border-top: 1px solid #ddd;
  background-color: #dae7f5;
  #container {
    width: $width-1;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    .tit-1 {
      float: left;
      font-size: 50px;
      font-weight: bold;
      color: $fontColor-2;
      padding-top: 60px;
      em {
        color: $mainColor-1;
      }
    }
    .tax-calc {
      float: left;
      width: 335px;
      height: 339px;
      background-color: #fff;
      padding: 30px;
      margin-left: 100px;
      margin-top: 30px;
      h2 {
        font-size: 20px;
        font-weight: bold;
      }
      p {
        font-size: 12px;
        text-align: right;
      }
      form {
        position: relative;
        input[type='text']:first-child {
          width: 275px;
          height: 38px;
          border: 2px solid $boarderColor-1;
          font-size: 14px;
          margin: 25px 0 10px;
          padding-left: 7px;
          color: $fontColor-1;
          font-size: 14px;
        }
        .auto-input-1 {
          position: relative;
          width: 275px;
          height: 72px;
          border: 1px solid $boarderColor-1;
          padding-left: 178px;
          background: url(../images/main/tax-calc-2.png) no-repeat 0 0;
          margin-bottom: 10px;
          input[type='submit'] {
            width: 97px;
            height: 36px;
            font-size: 12px;
            border: 1px solid $boarderColor-1;
            background-color: #fff;
            padding-left: 23px;
            background: url(../images/main/tax-calc-3.png) no-repeat 11px 11px;
            position: absolute;
            top: -1px;
            right: -1px;
            &:last-child {
              top: 35px;
              right: -1px;
              background: url(../images/main/tax-calc-4.png) no-repeat 13px 10px;
            }
          }
        }
      }
      p {
        position: relative;
        ::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: 107px;
          width: 16px;
          height: 16px;
          background: url(../images/main/tax-calc-1.png);
        }
        a {
          display: block;
          margin-top: 10px;
        }
      }
    }
    #auto-input-2 {
      width: 178px;
      height: 32px;
      border: 1px solid $boarderColor-1;
      font-size: 12px;
      padding-left: 7px;
      color: $fontColor-1;
      + label {
        position: absolute;
        top: 155px;
        right: 0;
        a {
          display: block;
          width: 90px;
          height: 32px;
          background-color: $mainColor-1;
          color: $fontColor-1;
          text-align: center;
          line-height: 32px;
        }
      }
    }
    .calendar {
      position: relative;
      float: right;
      width: 335px;
      height: 339px;
      background-color: $mainColor-2;
      padding: 30px;
      margin-left: 30px;
      margin-top: 30px;
      color: #fff;
      text-align: center;
      h2 {
        font-size: 20px;
        border-bottom: 1px solid $mainColor-1;
        padding-bottom: 15px;
        margin-bottom: 20px;
        .month {
          font-size: 25px;
        }
      }
      .slide-1 {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 37px;
        height: 38px;
        background: url(../images/main/calender-slide-2.png) no-repeat 0 0;
      }
      .slide-2 {
        background: url(../images/main/calendar-slide-1.png) no-repeat 0 0;
        position: absolute;
        right: 30px;
        top: 30px;
        width: 37px;
        height: 38px;
      }
      > p {
        margin-bottom: 28px;
        font-size: 14px;
      }
      ul {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        left: calc(50% - 90px);
        li {
          position: relative;
          float: left;
          width: 50%;
          line-height: 16px;
          font-size: 12px;
          padding-left: 8px;
          text-align: left;
          &::before {
            content: '';
            display: block;
            width: 2px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            top: 7px;
            left: 0;
          }
          &::after {
            content: '';
            display: block;
            clear: both;
          }
        }
      }
      .early-calc {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 335px;
        height: 54px;
        background-color: $mainColor-1;
        line-height: 54px;
        p {
          padding-right: 50px;
          background: url(../images/main/calander-ico-1.png) no-repeat 240px
            10px;
          a {
            font-size: 20px;
            font-weight: bold;
            span {
              color: #fd9112;
            }
          }
        }
      }
    }
  }
}
#banner-slide {
  position: relative;
  width: $width-1;
  margin: 0 auto;
  padding: 40px 0 40px;
  h2 {
    font-size: 20px;
    font-weight: bold;
    color: $fontColor-2;
    margin-bottom: 20px;
  }

  .banner-ico {
    padding: 13px 30px;
    li {
      float: left;
      width: 10%;
      height: auto;
      a {
        padding: 0px 12px;
        display: inline-block;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: $mainColor-1;
        background: url(../images/main/bannerslide/banner-slide-ico-1.png)
          no-repeat 50% 0;
        p {
          padding-top: 52px;
        }
      }
    }
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .banner-slide-1 {
    .banner-slide-1-1 {
      position: absolute;
      top: 117px;
      left: 0;
      width: 29px;
      height: 56px;
      background: url('../images/main/banner-slide-2.png') no-repeat 0 0;
    }
    .banner-slide-1-2 {
      position: absolute;
      top: 117px;
      right: 0;
      width: 29px;
      height: 56px;
      background: url('../images/main/banner-slide-1.png') no-repeat 0 0;
    }
  }
  .btn-more-1 {
    position: absolute;
    top: 45px;
    left: 135px;
    a {
      display: block;
      width: 55px;
      height: 20px;
      background-color: $fontColor-1;
      color: #fff;
      padding-left: 20px;
      &::before {
        position: absolute;
        top: 7px;
        left: 10px;
        content: '';
        display: block;
        width: 1px;
        height: 7px;
        background-color: #fff;
      }
      &::after {
        position: absolute;
        top: 7px;
        left: 10px;
        content: '';
        display: block;
        width: 1px;
        height: 7px;
        background-color: #fff;
        transform: rotate(90deg);
      }
    }
  }
}
#board-service {
  position: relative;
  width: $width-1;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 40px;
  .board-left {
    position: relative;
    float: left;
    width: 500px;
    &::before {
      position: absolute;
      top: 39px;
      left: 0;
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      border: 1px solid $footerColor-1;
    }
    input[type='radio'] {
      position: absolute;
      left: -9999px;
      + label {
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
        line-height: 30px;
        display: block;
        width: 120px;
        height: 30px;
        color: $fontColor-1;
        font-size: 16px;
        font-weight: bold;
        &:nth-of-type(2) {
          position: absolute;
          top: 0;
          left: 120px;
        }
        &:nth-of-type(3) {
          position: absolute;
          top: 0;
          left: 240px;
        }
      }
      &:checked {
        + label {
          font-size: 20px;
          font-weight: bold;
          color: $mainColor-1;
          + div {
            display: block;
          }
        }
      }
    }
    > div {
      display: none;
      ul {
        padding: 30px 0;
        li {
          position: relative;
          padding: 20px 0 0 15px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          span {
            position: absolute;
            top: 20px;
            right: 5px;
            display: inline-block;
          }
          &::before {
            content: '';
            display: block;
            position: absolute;
            top: 27px;
            left: 0;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #000;
          }
          &:first-child {
            padding-top: 0;
            span {
              top: 0;
            }
            &::before {
              top: 8px;
            }
          }
        }
      }
      .btn-more-2 {
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        height: 25px;
        background-color: #ddd;
        border: 1px solid transparent;
        border-radius: 50%;
        &::before {
          position: absolute;
          top: 11px;
          left: 6px;
          content: '';
          display: block;
          width: 11px;
          height: 2px;
          background-color: $mainColor-1;
        }
        &::after {
          position: absolute;
          top: 11px;
          left: 6px;
          content: '';
          display: block;
          width: 11px;
          height: 2px;
          background-color: $mainColor-1;
          transform: rotate(90deg);
        }
      }
    }
  }
  .service-right {
    float: right;
    width: 680px;
    height: auto;
    background-color: $mainColor-1;
    padding: 30px;
    h2 {
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 30px;
    }
    ul {
      overflow: hidden;
      li {
        float: left;
        width: 20%;
        height: auto;
        a {
          display: block;
          padding-top: 50px;
          text-align: center;
          background: url('../images/main/service/service_icon_03.png')
            no-repeat 50% 0;
        }
        p {
          color: #fff;
          text-align: center;
          padding: 10px 0;
        }
        &.service-m2 {
          a {
            background: url('../images/main/service/service_icon_11.png')
              no-repeat 50% 0;
          }
        }
        &.service-m3 {
          a {
            background: url('../images/main/service/service_icon_09.png')
              no-repeat 50% 0;
          }
        }
        &.service-m4 {
          a {
            background: url('../images/main/service/service_icon_30.png')
              no-repeat 50% 0;
          }
        }
        &.service-m5 {
          a {
            background: url('../images/main/service/service_icon_29.png')
              no-repeat 50% 0;
          }
        }
        &.service-m6 {
          a {
            background: url('../images/main/service/service_icon_05.png')
              no-repeat 50% 0;
          }
        }
        &.service-m7 {
          a {
            background: url('../images/main/service/service_icon_19.png')
              no-repeat 50% 0;
          }
        }
        &.service-m8 {
          a {
            background: url('../images/main/service/service_icon_07.png')
              no-repeat 50% 0;
          }
        }
        &.service-m9 {
          a {
            background: url('../images/main/service/service_icon_24.png')
              no-repeat 50% 0;
          }
        }
        &.service-m10 {
          a {
            background: url('../images/main/service/service_icon_22.png')
              no-repeat 50% 0;
          }
        }
      }
    }
  }
}
#bg-footer {
  max-width: 100%;
  background-color: $footerColor-1;
  color: #fff;
  font-size: 15px;
}
#footer {
  position: relative;
  width: $width-1;
  margin: 0 auto;
  padding: 30px;
  .footer-menu {
    overflow: hidden;
    margin-bottom: 30px;
    li {
      position: relative;
      float: left;
      margin-left: 30px;
      ~ li {
        &::after {
          position: absolute;
          top: 3px;
          left: -15px;
          content: '';
          display: block;
          width: 1px;
          height: 16px;
          background-color: #fff;
        }
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
  address {
    padding-bottom: 15px;
  }
  .sitemap-select {
    position: absolute;
    top: 0;
    right: 0;
  }
}
#sitemap-tab-menu {
}
