@charset "utf-8";
@import url('../css/reset.css');
@import 'design';

body {
  width: 100%;
  font: 14px/1.4 Malgun Gothic, '맑은고딕', AppleGothic, gulim, '굴림', dotum,
    '돋움', sans-serif;
}
#header {
  width: $width-1;
  margin: 0 auto;

  .header_top {
    overflow: hidden;
    .header_top_logo {
      float: left;
      a {
        display: block;
        width: 93px;
        height: 50px;
        color: #fff;
        font-size: 15px;
        background-color: $mainColor-1;
        text-align: center;
        line-height: 50px;
      }
    }
    ul {
      float: right;
      overflow: hidden;
      margin-top: 20px;
      li {
        position: relative;
        float: left;
        margin-left: 20px;
        &:first-child {
          margin-left: 0;
        }
        &::before {
          position: absolute;
          top: 5px;
          left: -11px;
          content: '';
          display: block;
          width: 1px;
          height: 9px;
          background-color: $footerColor-1;
        }
        a {
          color: $mainColor-1;
          font-size: 13px;
        }
      }
    }
  }
  .header-bot {
    position: relative;
    padding: 20px 0 20px;
    margin-bottom: 10px;
    height: 80px;
    .logo {
      display: block;
      text-indent: -9999px;
      width: 202px;
      height: 54px;
      background: url('../images/common/logo.png') no-repeat 0 0;
    }
    .all-menu {
      position: absolute;
      top: 30px;
      right: 10px;
      a {
        display: block;
        width: 36px;
        height: 36px;
        background: url(../images/common/ico-all-menu-1.png) no-repeat 0 0;
      }
    }
    .search-bar {
      position: absolute;
      top: 28px;
      right: 60px;
      a {
        display: block;
        width: 36px;
        height: 36px;
        background: url(../images/common/ico-sch-1.png) no-repeat 0 0;
      }
    }
  }
}
#gnb {
  position: absolute;
  top: 38px;
  left: 196px;
  > ul {
    overflow: hidden;
    *[class*='gnb-'] {
      float: left;
      margin-left: 40px;
      > a {
        font-size: 18px;
        font-weight: bold;
        color: $fontColor-1;
      }
      > ul {
        overflow: hidden;
        display: none;
        &.on {
          display: block;
        }
        li {
          padding-left: 120px;
          font-size: 16px;
          color: $mainColor-1;
          float: left;
          &:first-child {
            padding-left: 0;
          }
        }
      }
    }
  }
}
#bg-container {
  border-top: 1px solid #ddd;
  background-color: #dae7f5;
  #container {
    width: $width-1;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    .tit-1 {
      float: left;
      font-size: 50px;
      font-weight: bold;
      color: $fontColor-2;
      padding-top: 60px;
      em {
        color: $mainColor-1;
      }
    }
    .tax-calc {
      float: left;
      width: 335px;
      height: 339px;
      background-color: #fff;
      padding: 30px;
      margin-left: 100px;
      margin-top: 30px;
      h2 {
        font-size: 20px;
        font-weight: bold;
      }
      p {
        font-size: 12px;
        text-align: right;
      }
      form {
        position: relative;
        input[type='text']:first-child {
          width: 275px;
          height: 38px;
          border: 2px solid $boarderColor-1;
          font-size: 14px;
          margin: 25px 0 10px;
          padding-left: 7px;
          color: $fontColor-1;
          font-size: 14px;
        }
        .auto-input-1 {
          position: relative;
          width: 275px;
          height: 72px;
          border: 1px solid $boarderColor-1;
          padding-left: 178px;
          background: url(../images/main/tax-calc-2.png) no-repeat 0 0;
          margin-bottom: 10px;
          input[type='submit'] {
            width: 97px;
            height: 36px;
            font-size: 12px;
            border: 1px solid $boarderColor-1;
            background-color: #fff;
            padding-left: 23px;
            background: url(../images/main/tax-calc-3.png) no-repeat 11px 11px;
            position: absolute;
            top: -1px;
            right: -1px;
            &:last-child {
              top: 35px;
              right: -1px;
              background: url(../images/main/tax-calc-4.png) no-repeat 13px 10px;
            }
          }
        }
      }
      p {
        position: relative;
        ::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: 107px;
          width: 16px;
          height: 16px;
          background: url(../images/main/tax-calc-1.png);
        }
        a {
          display: block;
          margin-top: 10px;
        }
      }
    }
    #auto-input-2 {
      width: 178px;
      height: 32px;
      border: 1px solid $boarderColor-1;
      font-size: 12px;
      padding-left: 7px;
      color: $fontColor-1;
      + label {
        position: absolute;
        top: 155px;
        right: 0;
        a {
          display: block;
          width: 90px;
          height: 32px;
          background-color: $mainColor-1;
          color: $fontColor-1;
          text-align: center;
          line-height: 32px;
        }
      }
    }
    .calendar {
      float: right;
      width: 335px;
      height: 339px;
      background-color: $mainColor-1;
      margin-left: 30px;
      margin-top: 30px;
    }
  }
}
